<htm>
	<head>
	</head>
	<body>
		<div class="body">
			<h1>Hi I am the <span style="color:red">About</span> Page :)</h1>
			<p style="dispalay:inline-block;">Here is the link to the home page</p>
			<%=link_to 'Home Page',root_path%>
		</div>
	</body>
</htm>