<htm>
	<head>
	</head>
	<body>
		<div class="body">
			<h1>Hi I am the <span style="color:green">Home</span> Page :)</h1>
			<p style="dispalay:inline-block;">Here is the link to the about page</p>
			<%= link_to 'About Page',aboutpage_path%>
		</div>
	</body>
</htm>