<div class="footer">
  <div class="container">
    <p class="copyright">copyright &copy; <a>The Complete Ruyb on Rails Develepoer Course</a> By <a  href="mailto:lamasonmez@gmail.com" >Lama Sonmez</a></p>
    <nav>
      <ul>
        <li><%= link_to 'About', aboutpage_path %></li>
      </ul>
    </nav>
  </div>
</div>